* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    body, html {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
        background-color: #f4f4f8;
        background-image: url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}

.weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.5); /* Change the background color to a translucent white */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}


h1 {
    text-align: center;
    margin-bottom: 1rem;
    color: #619AE3;
}

#search-box {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.7); /* Change the background color to translucent white */
}

#search-box:focus{
    border: 2px solid #0095ff;
    outline: none;
}

#search-btn{
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #619AE3;
    border-radius: 0.25rem;
    background-color: transparent;
    color: #619AE3;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

#search-btn:hover {
    background-color: #619AE3;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


.weather-info {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#city-name {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    color: #F6AFFF;
}

#weather-description {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #666;
}


.temperature-humidity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.temperature-humidity-container h3 {
    transition: all 0.3s ease;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.25;
    font-size: 1.1rem;
    font-weight: 400;
    color: #545253;
    background-color: rgba(255, 255, 255, 0.7);
}

.temperature-humidity-container h3:hover {
    /* existing CSS code */
    color: #fff;
    background-color: #619AE3;
}

#city-name,
#weather-description,
#temperature,
#humidity {
    font-weight: 400;
    color: #545253;
}

#temperature {
    margin-right: 1rem;
    background: transparent;

}

#humidity{
    margin-left: 1rem;
    background: transparent;
}